body {
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: white;
    text-align: left;
    line-height: 120%;
    font-family: Verdana, sans-serif;
}

#login_users {
    padding: 10px;
    background-color: #eef;
}

#read_response {
    padding: 10px;
    background-color: #eef;
}

#result {
    margin: 1em;
    padding: 1em;
    color: blue;
    background-color: #ccf;
    font-size: x-large;
}

#debug {
    margin: 1em;
    border: red;
    color: black;
    background-color: #fcc;
}

span.now {
    color: Red;
}